body {
    margin: 0;
    background-color: white;
}

code {
    white-space: pre;
}

h1 {
    margin-top: 0px;
    padding-top: 20px;
}

textarea {
    height: 60vh;
    width: 80%;
}

.main {
    padding: 10px;
}

.search {
    width: 100%;
    font-size: 15px;
    line-height: 15px;
}

.sidebar {
    background-color: #f0f0f0;
    height: 100vh;
    padding: 20px;
}

.sidebar h2 {
    margin-top: 5px;
}

#titleinp {
    border: 2px solid rgb(4, 30, 32);
    border-radius: 2px;
}

@keyframes example {
    0% {color: red;}
    10% {color: red;}
    90% {color: red;}
    100% {color: transparent;}
}

#error_new {
    color: transparent;
    animation-name: example;
    animation-delay: 0s;
    animation-duration: 5s;
    animation-timing-function: ease-out;
  }

  #no_new {
    color: transparent;
  }