{% load static %}

<!DOCTYPE html>

<html lang="en">
    <head>
        <title> {{ name }} </title>
        <link href="{% static 'encyclopedia/styles.css' %}" rel="stylesheet">
    </head>
    <body>
        <div>
            {% if file %}
                <div> Your search about <b> {{name}} </b> exists</div>
            {% else %}
                <div> Your search about <b> {{name}} </b> does not exist</div>
            {% endif %}
        </div>

        <div>  {{ file|safe|escape }} </div>
        

    </body>
</html>